In [1]:
name='Jack'
print(name[0])
print(name[1])
print(name[2])
print(name[3])

J
a
c
k

In [5]:
#lists
names=[] #empty list
names=['Jack','Tom','Rose']
print(names)


#access list elements
print(names[0])
print(names[1])
print(names[2])

print(names[-2]) #circular access

['Jack', 'Tom', 'Rose']
Jack
Tom
Rose
Tom

In [6]:
#append to list
ages=[20,30,40]
ages.append(50)
print(ages)

[20, 30, 40, 50]

In [10]:
names=['Jack','Tom','Rose']
names.remove('Tom')
print(names)

names.pop()
print(names)

ages=[20,30,40]
del ages[0]
print(ages)

['Jack', 'Rose']
['Jack']
[30, 40]

In [11]:
names=['Jack','Tom','Rose']
names[0]='John'
print(names)

['John', 'Tom', 'Rose']

In [14]:
#tuples
names=('Jack','Tom','Rose')
print(names)

print(names[0])

# names[0]='pierre'
# print(names)

('Jack', 'Tom', 'Rose')
Jack

In [18]:
my_set={1,2,3,4,5}

print(my_set)

my_set.add(6)
print(my_set)

my_set.remove(6)
print(my_set)

a={1,2,3}
b={3,4,5}
c=a.union(b)

print(c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [21]:
x={1,2,3}
y={2,3,4}

z=x.union(y)
print(z)

print(x.intersection(y))

{1, 2, 3, 4}
{2, 3}

In [22]:
names=['Jack','Tom','Rose']
sorted_names=sorted(names)
print(sorted_names)

['Jack', 'Rose', 'Tom']

In [4]:
names=['Jack','Tom','Rose']
ages=[20,30,40]

new=zip(names,ages)

for item in zip(names,ages):
    print(item)

for name,age in zip(names,ages):
    print(age,name)

('Jack', 20)
('Tom', 30)
('Rose', 40)
20 Jack
30 Tom
40 Rose

In [7]:
names=['Jack','Tom','Rose']

for name in names:
    print(name)
else:
    print('no more items')

Jack
Tom
Rose
no more items

In [13]:
names=['Jack','Tom','Rose']


capital_names=[name.upper() for name in names]
print(capital_names)

['JACK', 'TOM', 'ROSE']

In [17]:
import math
# squared_odds=[math.pow(num,2) for num in range(1,10,2)]
squared_odds=[num**2 for num in range(1,10,2)]
print(squared_odds)

[1, 9, 25, 49, 81]