In [ ]:
# while True: #infinite loop

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for j in range(10, 15):
    print(j)

10
11
12
13
14

In [2]:
#iterate over a list
names=['Alice','Bob','Charlie']

for name in names:
    print(name)

Alice
Bob
Charlie

In [4]:
i=5
while i >= 0:
    print(i)
    i-=1

5
4
3
2
1
0

In [6]:
sum=0
num=0
while True:
    num=num+1
    sum=sum+num
    print(num)

    if num==10:
        break

print(sum)

1
2
3
4
5
6
7
8
9
10
55

In [7]:
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [10]:
words=['ppoeemm','wiiiinnnnd','fiiiiirrrreee','tttrreeee']

for word in words:
    last_character=""
    new_word=""
    for character in word:
        if character==last_character:
            continue
        else:
            new_word=new_word+character
            last_character=character
    print(new_word)

poem
wind
fire
tre

In [1]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [2]:
odd_numbers=list(range(1,10,2))
print(odd_numbers)

[1, 3, 5, 7, 9]

In [6]:
names=['Alice','Bob','Charlie','David','Edward']

# i=0
# for name in names:
#     print(str(i)+": "+name)
#     i=i+1

for i,name in enumerate(names):
    print(str(i)+": "+name)

0: Alice
1: Bob
2: Charlie
3: David
4: Edward

In [14]:
i=0
while i<10:
    i=i+1
    if i==5:
        break
    print(i)

1
2
3
4